*{
	margin:0px;
	padding:0px;
	text-decoration: none;
}
.br{
	clear:both;
}
body {
    background: url("./image/bg.jpeg") no-repeat fixed 0 0 #000000;
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
}
#header:hover,#main:hover,#footer:hover{
	  -moz-transition: .5s ease .5s;
	  box-shadow:1px 1px 6px #015BFF;
	  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.89);
}
#layout{
	height:100%;
	margin:0 auto;
	width: 960px;
}
#header {
    background: none repeat scroll 0 0 rgba(238, 238, 238, 0.49);
    box-shadow: 1px 1px 6px #000000;
    border-radius: 5px 5px 5px 5px;
    height: 90px;
    margin: 15px 0;
    width: 100%;
}
#header h1 a {
    color: #000000;
    outline: medium none;
    text-decoration: none;
}
#header h1 a:hover{
    color: #fff;
    text-shadow: 1px 1px 22px #000;
}
#main {
    height: 100%;
    margin: 20px 0px;
    min-height: 600px;
    width: 100%;
    background: none repeat scroll 0 0 rgba(238, 238, 238, 0.49);
    box-shadow: 1px 1px 6px #000000;
    border-radius: 5px;
}
#main #article-list {
    padding: 20px;
}
#main #article-list .recent-post-item{
	-moz-transition: .5s ease .5s;
	padding: 10px;
    margin: 15px 0;
}
#main:hover #article-list .recent-post-item{
    background:rgba(0, 0, 0, 0.07);
}
#main #article-list .recent-post-item:hover{
    background: none repeat scroll 0 0 rgba(101, 101, 101, 0.23);
    box-shadow: 0 0 5px #000000;
}
#main #article-list  h3 a{
	color: #14CCF5;
    font-size: 20px;
}
#main #article-list  h4{}
#main #article-list  p{}
#main #article{
	padding:20px;
}
#main #article blockquote {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.34);
    border-left: 4px solid #DDDDDD;
    color: #777777;
    padding: 0 15px;
}
#main #article p {
    margin: 10px 0;
    text-indent: 30px;
}
#main #article li {
    margin: 2px 0;
}
#main #article code {
	background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: pre-line;
    word-wrap: break-word;
}
#main #article h1{
	margin: 5px 0;
    text-align: center;
}
#main #article h1 b {
    font-size: 10px;
}
#main #article h2 {
    background: none repeat scroll 0 0 rgba(101, 101, 101, 0.23);
    border-radius: 5px 0 0 5px;
    margin: 15px -20px 0 0;
    padding-left: 7px;
}
#main #article ol,#left #article ul{
	padding-left: 30px;
}
#main #article .tags{
	
}
#main #article .tags li {
    border-left: 1px solid #A7A7A7;
    display: inline;
    padding: 0 0 0 20px;
}
#main #article .pre-next{
	
}


#footer {
    background: none repeat scroll 0 0 rgba(238, 238, 238, 0.49);
    box-shadow: 1px 1px 6px #000000;
    border-radius: 5px;
    height: 50px;
    margin: 30px 0px;
    width: 100%;
}